@using EntityLayer.Concrete
@model List<Community>

@{
    ViewBag.Title = "MyOwnCommunity";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<br />
<h2>Topluluk başkanı olduğum Topluluklar</h2>
<br />

<a href="/StudentCommunity/Index" class="btn btn-info">Topluluk Listesi</a>
<br />

<br />
<table class="table table-bordered">
    <tr>
        <th>Topluluk id</th>
        <th>Topluluk Başkanı</th>
        <th>Topluluk Adı</th>
        <th>Topluluk İçeriği</th>
        @*<th>Sil</th>>*@
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.community_id</td>
            <td>@item.community_president_id</td>
            <td>@item.community_name</td>
            <td>@item.description</td>

            @*<td><a href="/Community/DeleteCommunity/@item.community_id" class="btn btn-danger">Sil</a></td>*@
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
